<div class="card bg-dark">
    <img src="https://occ-0-2663-2164.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABQYuhY7CYIhUf2ARpKOs2lSYYRn4rOSnQRfYDOPPn1sar7z5i4uzPZhHgRLQ-ytBwJaa70tiOIrbnl5YSjTLsMzd6w-xoSlISTkM_6xo_IVvTaDn.jpg?r=c7a" alt="">
    <div class="card-body">
        <p class="d-inline ">4.double lives</p>           
        <p>Bizarre occurrences give Charlotte a sense of déjà vu, and she suspects Peter is hiding something. Franziska snaps when Magnus confronts her.</p>  
        <div class="d-flex justify-content-between">
           <div class=" btn-group">
                <button class="btn btn-sm border-secondary text-light">play</button>
            <button class="btn btn-sm border-secondary text-light">resume</button>
            </div>
            <div>
                59 mins
            </div>
        </div>
    </div>
</div>
