<div class="bg-dark text-light">
    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-3 p-3">
        <div class="col text-center" >
            <h2>contact us</h2>
            <ul class=" fs-5" style="list-style:none">
                <li>email:XXXX</li>
                <li>phone:3456789</li>
                <li>twitter:XXXX</li>
            </ul>
        </div>
        <div class="col text-center" >
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZeMhHXHoO8OZoHEcFppXKFCa9G7I8Q4VtTg&usqp=CAU" width="100px"  height="100px" alt="">
        </div>
        <div class="col text-center" >
          <h2>
              follow us on 
          </h2>
          <ul class="fs-5" style="list-style:none">
              <li>
                  instagram:xxxx
              </li>
              <li>facebook:xxxxx</li>
          </ul>
        </div>
    </div>

</div>
