
<h3 class="text-center  ">ID:{{users.id}}</h3>
<div class="card  w-25 d-block mx-auto" >
    <img src="{{users.pic}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="text-center">{{users.name}}</h3>
      <p class="fs-5">
          <strong>E-mail:</strong>{{users.email}}<br>
          <strong>Street:</strong>{{users.address.street}}<br>
          <strong>City:</strong>{{users.address.city}}<br>
          <strong>Phone:</strong>{{users.phone}}<br>
          <strong>Profession:</strong>{{users.profession}}
       
      </p>

    </div>
  </div>
