<div class="card bg-dark h-100 text-light">
    <img src={{pro.image}} class="card-img-top w-100 " alt="">
    <div class="card-body">
       <p class="d-inline fs-3 text-warning">{{pro.usertitle}}</p>         
        <p  class="fs-4 mt-3 ">{{pro.about}}</p>  
        <div class="d-flex justify-content-between  mt-3">
           <div class=" btn-group">
               <button class="btn btn-sm border-secondary btn-info fs-4 "(click)="sendingtoparent(pro.usertitle)" ><i class="fas fa-plus"></i>Add To Cart</button>
           </div>
           <div class="fs-4 ">
               {{pro.time}}
           </div>
       </div>
    </div>

</div>

