<div class="card bg-secondary h-100 text-light ">
    <img src={{pro.image}} class="card-img-top w-100 " alt="">
    <div class="card-body">
       <p class="d-inline h5  text-dark">{{pro.usertitle}}</p>         
        <p  class="fs-5 mt-3 ">{{pro.about}}</p>  
        <div class="d-flex justify-content-between  mt-3">
           <div class=" btn-group">
               <button class="btn btn-sm border-secondary btn-success p-2"(click)="sendingtoparent(pro.usertitle)" ><i class="fas fa-plus me-2 "></i>Add To Cart</button>
           </div>
           <div class="">
               {{pro.time}}
           </div>
       </div>
    </div>

</div>

