<div class="container mt-3 w-50 bg-secondary p-5 mb-2">
    <form (ngSubmit)=onsubmitnewmobile()>
    <div class="form-floating mb-3 ">
        <input type="text" name="usertitle"  class="form-control" placeholder="Password" id="proti" [(ngModel)]=newmob.usertitle >
    <label for="proti ">Mobile name</label>
    
</div>
<div class="form-floating mb-3">
    <input type="text" name="about"  class="form-control "  placeholder="Password"id="prodes" [(ngModel)]=newmob.about >
    <label for="prodes " >Description</label>
</div>
<div class="form-floating mb-3">
   
    <input type="text" name="image"  class="form-control " placeholder="Password" id="proimg" [(ngModel)]=newmob.image >
    <label for="proimg">Image URL</label>
</div>
<div class="form-floating mb-3">
   
    <input type="text" name="time"  class="form-control " placeholder="Password" id="protime" [(ngModel)]=newmob.time>
    <label for="protime">Cost</label>
</div>
<button type="submit" class="btn btn-lg btn-dark float-end mb-4">add mobile</button>
</form>
</div>
