<div class="container ">
  <h1>sdfghj</h1>
  <h1>sdfghjksdfghjk</h1>
   <h1 class="text-center bg-info mt-3">DARK<h5 class="d-inline ms-3 mt-3">-netflix orginals</h5></h1>
  <div class="row text-light m-3 ">
    <div class="col-sm-4">
      <app-user1></app-user1>
    </div>
    <div class="col-sm-4">
      <app-user2></app-user2>
    </div>
    <div class="col-sm-4">
      <app-user3></app-user3>
    </div>
  </div>
  <div class="row text-light m-3">
    <div class="col-sm-4">
      <app-user4></app-user4>
    </div>
    <div class="col-sm-4">
      <app-user2></app-user2>
    </div>
    <div class="col-sm-4">
      <app-user3></app-user3>
    </div>
  </div>
</div>