<div class="card bg-dark">
    <img src="https://occ-0-2663-2164.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABUKi5ZDP-EWwIcc5G7H5Ld68USiylqd_Y-CKKV0Irz0FLZxzWfu0lapX6vJaKkdqFpBOqPKi9JUmZPDArMkDLZlJlGbvHGzU57hHovtWFSOLiM3-.jpg?r=dd6" alt="">
    <div class="card-body">
        <p class="d-inline ">3.past and present</p>          
        <p>It's 1986, and Ulrich's brother, Mads, has been missing for a month. Confusion reigns as past and present intertwine.</p>  
        <div class="d-flex justify-content-between">
            <div class=" btn-group">
                <button class="btn btn-sm border-secondary text-light">play</button>
            <button class="btn btn-sm border-secondary text-light">resume</button>
            </div>
            <div>
                59 mins
            </div>
        </div>
    </div>
</div>