<div class=" bg-secondary text-white m-3 p-4 ">
    <h2>Introduction</h2>
    <p class="fs-5 fw-1">Samsung Galaxy (Korean: 삼성 갤럭시), (stylised as SΛMSUNG Galaxy since 2015,[2] previously stylised as Samsung GALAXY; abbreviated as SG) is a series of computing and mobile computing devices that are designed, manufactured and marketed by Samsung Electronics. The product line includes the Samsung Galaxy S series of high-end smartphones, the Samsung Galaxy Tab series of tablets, the Samsung Galaxy Note series of tablets and phablets with the added functionality of a stylus, the foldable Samsung Galaxy Z series, and smartwatches including the first version of the Samsung Galaxy Gear, with later versions dropping the Galaxy branding, until the release of the Samsung Galaxy Watch in 2018.

        Samsung Galaxy devices use the Android operating system produced by Google, usually with a custom user interface called One UI (with previous versions being known as Samsung Experience and TouchWiz). However, the Galaxy TabPro S is the first Galaxy-branded Windows 10 device that was announced in CES 2016. The Galaxy Watch is the first Galaxy-branded smartwatch since the release of later iterations of the Gear smartwatch from 2014 to 2017. In April 2019, the company announced that it would postpone the release of its folding smartphone, the Samsung Galaxy Fold, days after several early reviewers said the screens on their devices had broken;[3] the Fold was rereleased in September 2019.[4]</p>
    <h2>
        some models include:
    </h2>
    <ul class="fs-3">
        <li>GT-Nnnn0 – mainstream Note model (Old type of model number)</li>
        <li>SM-Nnn0 – mainstream Note model (New type of model number)</li>
        <li>GT-Pnn00/10 – mainstream Tab model (Old type of model number)</li>
        <li>
            SM-Tnn0/1 – mainstream Tab model (New type of model number)
        </li>
        <li>GT-Snnn0 – mainstream model</li>
        <li>SM-Mnnn - M series model</li>
        <li>SM-Fnnn – Z series model, F series model</li>
    </ul>
    <img src="" alt="">
    </div>

